<div class="container">
<h1>
    Grupo de Desarrolladores
</h1>

<div class="row">
    <div class="col">
        <div class="row">
            <img src="../../assets/david_cacuango.JPG" alt="david_cacuango" width="285px" height="350">
        </div>
        <div class="row">
            <h2>David Cacuango</h2>
        </div>
    </div>
    <div class="col">
        <div class="row">
            <img src="../../assets/denisse_cumbal.JPG" alt="denisse_cumbal" width="285px" height="350">
        </div>
        <div class="row">
            <h2>Denisse Cumbal</h2>
        </div>
    </div>
    <div class="col">
        <div class="row">
            <img src="../../assets/ivan_fraga.JPG" alt="ivan_fraga" width="285px" height="350">
        </div>
        <div class="row">
            <h2>Iván Fraga</h2>
        </div>
    </div>
    <div class="col">
        <div class="row">
            <img src="../../assets/daniel_guachamin.JPG" alt="daniel_guachamin" width="285px" height="350">
        </div>
        <div class="row">
            <h2>Daniel Guachamín</h2>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="row">
            <img src="../../assets/jeremy_leon.JPG" alt="jeremy_leon" width="285px" height="350">
        </div>
        <div class="row">
            <h2>Jeremy León</h2>
        </div>
    </div>
    <div class="col">
        <div class="row">
            <img src="../../assets/kevin_pulupa.JPG" alt="kevin_pulupa" width="285px" height="350">
        </div>
        <div class="row">
            <h2>Kevin Pulupa</h2>
        </div>
    </div>
    <div class="col">
        <div class="row">
            <img src="../../assets/cindy_yazan.JPG" alt="cindy_yazan" width="285px" height="350">
        </div>
        <div class="row">
            <h2>Cindy Yazan</h2>
        </div>
    </div>
</div>
</div>